@font-face
  font-family Paddy
  font-style normal
  src url(fonts/Paddy.otf)

@font-face
  font-family Harenosora
  font-style normal
  src url(fonts/Harenosora.otf)

mincho()
  font-family YuMincho,'游明朝','Yu Mincho','ヒラギノ明朝 Pro W3','Hiragino Mincho Pro',Meiryo,serif
