@import 'kouto-swiss'
@import '_layout/*.styl'

@import '../node_modules/sanitize.css/lib/sanitize.styl'
meyer-reset()
box-sizing-reset()

toc_width = 30em

html
body
#narou
#narou > article
  height 100%

a
  color inherit
.active
  font-weight bold

ul
  li
    padding-left 1em

#drawer_show
  display none
#drawer_show:checked + #narou
  #drawer
    .overlay
      top 0
      right 0
      left 0
      bottom 0
      opacity 1
    .toc
      right 0

#narou #page
  position fixed
  top -0.15em
  right -0.1em

#narou > footer
  position fixed
  bottom 0
  left 0
  right 0

  z-index 5

#narou #drawer
  > *
    position fixed
    z-index 10
  .toc
    top 0
    right - toc_width
    bottom 0
    width toc_width

#narou #drawer
  .overlay
    left 100vw
    opacity 0
    background-color rgba(0,0,0,.5)

    transition opacity .5s ease
  .toc
    background-color white

    transition right .5s ease

    overflow-y scroll

#narou
  mincho()

  #page
    font-family Harenosora,serif
    font-size 50vmin
    opacity .05
    text-align center
    letter-spacing -0.05em

  > article
    writing-mode()
    padding 3rem 2rem
    padding-bottom 3rem + 8rem

    vh-font-sm()
    +media-xs()
      vh-font-md()

  > footer
    min-height 8rem
    padding 1rem 1rem

#narou > footer .controls
  absolute 0 0 0 0
  padding 0 2rem
  text-align center
  z-index 5

  vh-font-xs()

  span
    display inline-block
    margin 0 1em

#narou > footer .thanks
  position absolute
  right 0
  bottom 0

#narou .thanks
  text-align right
  padding .5rem 2rem

  opacity .1

  *
    font-family Paddy
    font-size 6rem
    text-decoration none

@import 'toc.styl'
