input(type="radio" name="chapter" id="chapter1" checked)
label(for="chapter1")
  h2 第１章　幼年期
  ul
    li: a(href="#") プロローグ
    li: a(href="#") 第一話「もしかして：異世界」
    li.active: a(href="#") 第二話「ドン引きのメイドさん」
    li: a(href="#") 第三話「魔術教本」
    li: a(href="#") 第四話「師匠」
    li: a(href="#") 第五話「剣術と魔術」
    li: a(href="#") 第六話「尊敬の理由」
    li: a(href="#") 第七話「友達」
    li: a(href="#") 第八話「鈍感」
    li: a(href="#") 第九話「緊急家族会議」
    li: a(href="#") 第十話「伸び悩み」
    li: a(href="#") 第十一話「離別」

input(type="radio" name="chapter" id="chapter2")
label(for="chapter2")
  h2 第２章　少年期　家庭教師編
  ul
    li: a(href="#") 第十二話「お嬢様の暴力」
    li: a(href="#") 第十三話「自作自演？」
    li: a(href="#") 間話「後日談とボレアス流挨拶」
    li: a(href="#") 第十四話「凶暴性、いまだ衰えず」
    li: a(href="#") 第十五話「職員会議と日曜日」
    li: a(href="#") 第十六話「お嬢様は十歳」
    li: a(href="#") 第十七話「言語学習」
    li: a(href="#") 第十八話「確約」
    li: a(href="#") 第十九話「ターニングポイント」
    li: a(href="#") 間話「フィットア領消滅より半年後」

input(type="radio" name="chapter" id="chapter3")
label(for="chapter3")
  h2 第３章　少年期　冒険者入門編
  ul
    li: a(href="#") 第二十話「神を名乗る詐欺師」
    li: a(href="#") 第二十一話「スペルド族」
    li: a(href="#") 第二十二話「師匠の秘密」
    li: a(href="#") 第二十三話「信用の理由」
    li: a(href="#") 第二十四話「最寄りの町まで三日間」
    li: a(href="#") 第二十五話「侵入と変装」
    li: a(href="#") 第二十六話「冒険者ギルド」
    li: a(href="#") 第二十七話「冒険者の宿」
    li: a(href="#") 第二十八話「人の命と初仕事」
    li: a(href="#") 第二十九話「初仕事終了」
    li: a(href="#") 第三十話「順調な滑り出し」
    li: a(href="#") 第三十一話「子供と戦士」
    li: a(href="#") 第三十二話「失敗と混乱と決意」
    li: a(href="#") 第三十三話「旅の始まり」
    li: a(href="#") 世界地図

input(type="radio" name="chapter" id="chapter4")
label(for="chapter4")
  h2 第４章　少年期　渡航編
  ul
    li: a(href="#") 第三十四話「ウェンポート」
    li: a(href="#") 第三十五話「すれ違い・前編」
    li: a(href="#") 第三十六話「すれ違い・後編」
    li: a(href="#") 間話「すれ違い・番外編」
    li: a(href="#") 第三十七話「船の中の賢者」
    li: a(href="#") 第三十八話「倉庫の中の悪魔」
    li: a(href="#") 第三十九話「獣族の子供たち」
    li: a(href="#") 第四十話「無料アパート」
    li: a(href="#") 第四十一話「ドルディアの村のスローライフ・前編」
    li: a(href="#") 第四十二話「ドルディアの村のスローライフ・後編」
    li: a(href="#") 第四十三話「聖剣街道」

input(type="radio" name="chapter" id="chapter5")
label(for="chapter5")
  h2 第５章　少年期　再会編
  ul
    li: a(href="#") 第四十四話「ミリス神聖国」
    li: a(href="#") 第四十五話「一年半のパウロ」
    li: a(href="#") 第四十六話「親子喧嘩」
    li: a(href="#") 第四十七話「パウロとの再会」
    li: a(href="#") 第四十八話「方針の再確認」
    li: a(href="#") 第四十九話「ミリシオンでの一週間」
    li: a(href="#") 間話「エリスのゴブリン討伐」
    li: a(href="#") 第五十話「中央大陸へ」
    li: a(href="#") 間話「ロキシーの帰還」

input(type="radio" name="chapter" id="chapter6")
label(for="chapter6")
  h2 第６章　少年期　帰郷編
  ul
    li: a(href="#") 第五十一話「ルート選択」
    li: a(href="#") 第五十二話「米」
    li: a(href="#") 第五十三話「シーローン王国」
    li: a(href="#") 第五十四話「神の不在」
    li: a(href="#") 第五十五話「第三王子」
    li: a(href="#") 第五十六話「スピード解決」
    li: a(href="#") 第五十七話「妹侍女の生まれた日」
    li: a(href="#") 第五十八話「一人前」
    li: a(href="#") 第五十九話「ターニングポイント２」
    li: a(href="#") 第六十話「胸にぽっかり開いた穴」
    li: a(href="#") 第六十一話「旅の終わり」
    li: a(href="#") 第六十二話「災害の現実」
    li: a(href="#") 第六十三話「お嬢様の決意」
    li: a(href="#") 間話「出会ってしまった二人」
    li: a(href="#") 世界地図２

input(type="radio" name="chapter" id="chapter7")
label(for="chapter7")
  h2 第７章　青少年期　入学編
  ul
    li: a(href="#") 第六十四話「泥沼の冒険者」
    li: a(href="#") 第六十五話「推薦状」
    li: a(href="#") 第六十六話「入試」
    li: a(href="#") 第六十七話「入学初日・前編」
    li: a(href="#") 第六十八話「入学初日・後編」
    li: a(href="#") 第六十九話「フィッツ先輩」

input(type="radio" name="chapter" id="chapter8")
label(for="chapter8")
  h2 第８章　青少年期　特別生掌握編
  ul
    li: a(href="#") 第七十話「及ばぬ力　前編」
    li: a(href="#") 第七十一話「及ばぬ力　後編」
    li: a(href="#") 第七十二話「獣族令嬢拉致監禁事件　前編」
    li: a(href="#") 第七十三話「獣族令嬢拉致監禁事件　後編」
    li: a(href="#") 第七十四話「天才少年の秘め事　前編」
    li: a(href="#") 第七十五話「天才少年の秘め事　後編」
    li: a(href="#") 第七十六話「絶壁の婚約者　前編」
    li: a(href="#") 第七十七話「絶壁の婚約者　後編」
    li: a(href="#") 第七十八話「白い仮面　前編」
    li: a(href="#") 第七十九話「白い仮面　後編」
    li: a(href="#") 第八十話「魔法大学での一日」
    li: a(href="#") 間話「燃えよ狂犬」

input(type="radio" name="chapter" id="chapter9")
label(for="chapter9")
  h2 第９章　青少年期　シルフィエット編
  ul
    li: a(href="#") 第八十一話「シルフィの過去」
    li: a(href="#") 第八十二話「守護術師フィッツ登場」
    li: a(href="#") 第八十三話「王女と騎士と術師」
    li: a(href="#") 第八十四話「入学初日・番外編」
    li: a(href="#") 第八十五話「察しのいい鈍感」
    li: a(href="#") 第八十六話「行き過ぎた配慮」
    li: a(href="#") 第八十七話「守られた秘密」
    li: a(href="#") 第八十八話「森の雨・前編」
    li: a(href="#") 第八十九話「森の雨・後編」
    li: a(href="#") 第九十話「最後の一押し」
    li: a(href="#") 第九十一話「後ろ盾」

input(type="radio" name="chapter" id="chapter10")
label(for="chapter10")
  h2 第１０章　青少年期　新婚編
  ul
    li: a(href="#") 第九十二話「結婚の前に用意するモノ　前編」
    li: a(href="#") 第九十三話「結婚の前に用意するモノ　後編」
    li: a(href="#") 第九十四話「劇的」
    li: a(href="#") 第九十五話「披露宴・準備」
    li: a(href="#") 第九十六話「披露宴・開催」
    li: a(href="#") 第九十七話「披露宴・終了」
    li: a(href="#") 第九十八話「家のある生活」

input(type="radio" name="chapter" id="chapter11")
label(for="chapter11")
  h2 第１１章　青少年期　妹編
  ul
    li: a(href="#") 第九十九話「手紙」
    li: a(href="#") 第百話「決壊」
    li: a(href="#") 第百一話「文殊の知恵」
    li: a(href="#") 第百二話「懐かしさと歯がゆさ」
    li: a(href="#") 第百三話「姉妹の処遇」
    li: a(href="#") 第百四話「メイドと寮生」
    li: a(href="#") 間話「人形の研究と主従関係」
    li: a(href="#") 第百五話「番長とその仲間達」
    li: a(href="#") 第百六話「兄貴の気持ち」
    li: a(href="#") 第百七話「ノルン・グレイラット」
    li: a(href="#") 第百八話「妹のいる生活」
    li: a(href="#") 第百九話「ターニングポイント３」
    li: a(href="#") 間話「牙を砥ぐ」

input(type="radio" name="chapter" id="chapter12")
label(for="chapter12")
  h2 第１２章　青少年期　ベガリット大陸編
  ul
    li: a(href="#") 第百十話「別れの挨拶」
    li: a(href="#") 第百十一話「ベガリット大陸へ」
    li: a(href="#") 第百十二話「天敵との遭遇」
    li: a(href="#") 第百十三話「砂漠の生態」
    li: a(href="#") 第百十四話「砂漠の旅」
    li: a(href="#") 第百十五話「バザール」
    li: a(href="#") 第百十六話「砂漠の戦士たち」
    li: a(href="#") 第百十七話「到着」

input(type="radio" name="chapter" id="chapter13")
label(for="chapter13")
  h2 第１３章　青少年期　迷宮編
  ul
    li: a(href="#") 第百十八話「状況確認」
    li: a(href="#") 第百十九話「迷宮入り」
    li: a(href="#") 第百二十話「あの時の彼女の気持ち」
    li: a(href="#") 第百二十一話「不屈の魔法使い」
    li: a(href="#") 第百二十二話「トントン拍子」
    li: a(href="#") 第百二十三話「第六階層の魔法陣」
    li: a(href="#") 第百二十四話「転移迷宮の守護者」
    li: a(href="#") 第百二十五話「死闘」
    li: a(href="#") 第百二十六話「親」
    li: a(href="#") 第百二十七話「前を向いて」
    li: a(href="#") 第百二十八話「帰ろう」
    li: a(href="#") 第百二十九話「帰還」
    li: a(href="#") 第百三十話「報告」
    li: a(href="#") 第百三十一話「修羅場」
    li: a(href="#") 第百三十二話「墓標の前で」
    li: a(href="#") 間話「狂犬の、剣は重いか鋭いか」

input(type="radio" name="chapter" id="chapter14")
label(for="chapter14")
  h2 第１４章　青年期　日常編
  ul
    li: a(href="#") 第百三十三話「ロキシー教師になる」
    li: a(href="#") 第百三十四話「三年生」
    li: a(href="#") 第百三十五話「トレーニング・ウィズ・ノルン」
    li: a(href="#") 第百三十六話「あたしが育てた」
    li: a(href="#") 第百三十七話「威厳のある父親」
    li: a(href="#") 第百三十八話「水王級」
    li: a(href="#") 第百三十九話「結婚式」
    li: a(href="#") 第百四十話「両手に花」
    li: a(href="#") 第百四十一話「誕生会」
    li: a(href="#") 第百四十二話「卒業式」
    li: a(href="#") 第百四十三話「第四段階」
    li: a(href="#") 間話「新たなる剣王の誕生」

input(type="radio" name="chapter" id="chapter15")
label(for="chapter15")
  h2 第１５章　青年期　召喚編
  ul
    li: a(href="#") 第百四十四話「空中城塞」
    li: a(href="#") 第百四十五話「ペルギウスとの謁見」
    li: a(href="#") 第百四十六話「過去と呪いと召喚と嫉妬」
    li: a(href="#") 第百四十七話「慟哭」
    li: a(href="#") 第百四十八話「再び魔大陸へ」
    li: a(href="#") 第百四十九話「キシリカを探して」
    li: a(href="#") 第百五十話「不死魔王との謁見」
    li: a(href="#") 第百五十一話「不死魔王との決闘」
    li: a(href="#") 第百五十二話「空中城塞での一日」
    li: a(href="#") 第百五十三話「ターニングポイント４」
    li: a(href="#") 第百五十四話「終わりと始まり」

input(type="radio" name="chapter" id="chapter16")
label(for="chapter16")
  h2 第１６章　青年期　人神編
  ul
    li: a(href="#") 第百五十五話「日記　前編」
    li: a(href="#") 第百五十六話「日記　後編」
    li: a(href="#") 第百五十七話「覚悟」
    li: a(href="#") 第百五十八話「ナナホシの仮説」
    li: a(href="#") 第百五十九話「手紙、届く」
    li: a(href="#") 第百六十話「準備」
    li: a(href="#") 第百六十一話「準備完了」
    li: a(href="#") 第百六十二話「泥沼対龍神」
    li: a(href="#") 第百六十三話「狂剣王対龍神」
    li: a(href="#") 第百六十四話「エリス・グレイラット　前編」
    li: a(href="#") 第百六十五話「エリス・グレイラット　後編」

input(type="radio" name="chapter" id="chapter17")
label(for="chapter17")
  h2 第１７章　青年期　王国編
  ul
    li: a(href="#") 第百六十六話「呼び出し」
    li: a(href="#") 第百六十七話「説明」
    li: a(href="#") 第百六十八話「初任務へ」
    li: a(href="#") 第百六十九話「守護魔獣」
    li: a(href="#") 第百七十話「男子会」
    li: a(href="#") 間話「女子会」
    li: a(href="#") 第百七十一話「ルーク」
    li: a(href="#") 第百七十二話「腹を決める」
    li: a(href="#") 第百七十三話「協力体制」
    li: a(href="#") 第百七十四話「甲龍王と第二王女」
    li: a(href="#") 第百七十五話「アスラ王国にいく前に」
    li: a(href="#") 間話「黒狼の剣王」
    li: a(href="#") 世界地図　３

input(type="radio" name="chapter" id="chapter18")
label(for="chapter18")
  h2 第１８章　青年期　アスラ王国編
  ul
    li: a(href="#") 第百七十六話「アスラ王国へ出発」
    li: a(href="#") 第百七十七話「赤竜の上顎」
    li: a(href="#") 第百七十八話「推察」
    li: a(href="#") 第百七十九話「アリエルの選択」
    li: a(href="#") 第百八十話「トリスティーナ」
    li: a(href="#") 第百八十一話「道中」
    li: a(href="#") 第百八十二話「王都アルス」
    li: a(href="#") 第百八十三話「宵闇の死闘」
    li: a(href="#") 第百八十四話「アリエルの戦場」
    li: a(href="#") 第百八十五話「ルーデウスの戦場」
    li: a(href="#") 第百八十六話「ルークの暴走」
    li: a(href="#") 第百八十七話「オルステッドの真実と王都の十日間」
    li: a(href="#") 第百八十八話「別れの稽古とシルフィの変化」
    li: a(href="#") 第百八十九話「帰還と決意」

input(type="radio" name="chapter" id="chapter19")
label(for="chapter19")
  h2 第１９章　青年期　配下編
  ul
    li: a(href="#") 第百九十話「近況」
    li: a(href="#") 間話「お仕事の一例」
    li: a(href="#") 第百九十一話「借りてきた猫」
    li: a(href="#") 第百九十二話「入学式と生徒会長」
    li: a(href="#") 第百九十三話「研究進捗」
    li: a(href="#") 第百九十四話「家庭崩壊の兆し」
    li: a(href="#") 第百九十五話「起業」
    li: a(href="#") 第百九十六話「社内ベンチャー」
    li: a(href="#") 第百九十七話「ドルディアの村再び」
    li: a(href="#") 第百九十八話「干し肉殺人事件」
    li: a(href="#") 第百九十九話「次の戦い」

input(type="radio" name="chapter" id="chapter20")
label(for="chapter20")
  h2 第２０章　青年期　ザノバ編
  ul
    li: a(href="#") 第二百話「ザノバの決意」
    li: a(href="#") 第二百一話「虫の知らせ」
    li: a(href="#") 第二百二話「シーローン再び」
    li: a(href="#") 第二百三話「パックス王」
    li: a(href="#") 第二百四話「カロン砦」
    li: a(href="#") 第二百五話「戦争の準備」
    li: a(href="#") 第二百六話「戦争」
    li: a(href="#") 第二百七話「火急の知らせとザノバの真意」
    li: a(href="#") 第二百八話「パックスの元へ」
    li: a(href="#") 第二百九話「誰もがみんな空回り」
    li: a(href="#") 第二百十話「戦後」
    li: a(href="#") 第二百十一話「ザノバの選んだ道」
    li: a(href="#") 第二百十二話「喜んでいいんだ」

input(type="radio" name="chapter" id="chapter21")
label(for="chapter21")
  h2 間章
  ul
    li: a(href="#") 第二百十三話「今後の方向性とクリフの悩み」
    li: a(href="#") 第二百十四話「クリフとザノバの卒業式」
    li: a(href="#") 間話　「田舎者、都会へ行く」
    li: a(href="#") 間話「成人式」
    li: a(href="#") 第二百十五話「成果とこれから」
    li: a(href="#") 第二百十六話「そしてミリシオンへ……」

input(type="radio" name="chapter" id="chapter22")
label(for="chapter22")
  h2 第２１章　青年期　クリフ編
  ul
    li: a(href="#") 第二百十七話「クリフ、故郷に帰る」
    li: a(href="#") 第二百十八話「ラトレイア家」
    li: a(href="#") 第二百十九話「ミリス教団本部」
    li: a(href="#") 第二百二十話「教皇と、そして……」
    li: a(href="#") 第二百二十一話「しらばっくれる」
    li: a(href="#") 第二百二十二話「詰め将棋」
    li: a(href="#") 第二百二十三話「ひっくり返して玉を拾う」
    li: a(href="#") 第二百二十四話「強気交渉」
    li: a(href="#") 第二百二十五話「何を迷う事があるのか」
    li: a(href="#") 第二百二十六話「家のため、娘のため」
    li: a(href="#") 第二百二十七話「恩のため」
    li: a(href="#") 第二百二十八話「裏切り者に逃げられて」
    li: a(href="#") 間話「狂犬と神の子」

input(type="radio" name="chapter" id="chapter23")
label(for="chapter23")
  h2 第２２章　青年期　組織編
  ul
    li: a(href="#") 第二百二十九話「帰還、報告、そして次の舞台へ」
    li: a(href="#") 第二百三十話「死神の悩み」
    li: a(href="#") 第二百三十一話「王竜王国王」
    li: a(href="#") 第二百三十二話「潜入、ネクロス要塞」
    li: a(href="#") 第二百三十三話「激闘、魔王アトーフェ」
    li: a(href="#") 間話「私達、結婚しました」
    li: a(href="#") 第二百三十四話「４人目」
    li: a(href="#") 第二百三十五話「命名」
    li: a(href="#") 第二百三十六話「異世界転移魔法装置」
    li: a(href="#") 第二百三十七話「ナナホシの行末」
    li: a(href="#") 第二百三十八話「二つ目」

input(type="radio" name="chapter" id="chapter24")
label(for="chapter24")
  h2 第２３章　青年期　決戦編
  ul
    li: a(href="#") 第二百三十九話「作戦会議」
    li: a(href="#") 第二百四十話「探し求めていた物」
    li: a(href="#") 第二百四十一話「探し求めていた者」
    li: a(href="#") 第二百四十二話「スペルド族の村」
    li: a(href="#") 第二百四十三話「冥王ビタ」
    li: a(href="#") 第二百四十四話「疫病」
    li: a(href="#") 第二百四十五話「天才」
    li: a(href="#") 第二百四十六話「首都」
    li: a(href="#") 第二百四十七話「三泊四日　スペルド族見学ツアー」
    li: a(href="#") 第二百四十八話「消失」
    li: a(href="#") 第二百四十九話「地竜谷の底」
    li: a(href="#") 第二百五十話「勝機を見る」
    li: a(href="#") 第二百五十一話「狂剣王vs元剣神」
    li: a(href="#") 第二百五十二話「三世vs二世+α」
    li: a(href="#") 第二百五十三話「北神三世vsデッドエンド+α」
    li: a(href="#") 第二百五十四話「アレクサンダーvsルーデウス」
    li: a(href="#") 第二百五十五話「鬼神の手打ち」
    li: a(href="#") 第二百五十六話「闘神の脅威」
    li: a(href="#") 第二百五十七話「切り札」
    li: a(href="#") 第二百五十八話「ターニングポイント５」
    li: a(href="#") 第二百五十九話「戦いの終わり」

input(type="radio" name="chapter" id="chapter25")
label(for="chapter25")
  h2 最終章　完結編
  ul
    li: a(href="#") 第二百六十話「最後の夢」
    li: a(href="#") 第二百六十一話「３４歳」
    li: a(href="#") 間話「アスラ王国人物録　『ルーデウス・グレイラット』」
    li: a(href="#") 最終話「死後の世界」
    li: a(href="#") エピローグ「プロローグ・ゼロ」

h1.thanks
  a(href="https://github.com/beraboume/narou.berabou.me#readme") narou.berabou.me
